/*@import url("../common/common.css");*/

.product__container{
    width:100%;
display: flex;
}

.product__left {
    display: flex;
    /*flex: 3;*/
    width:60%;
}


.product__pictures {
    display: none;
    width: 50vw;
    height: 50vw;
}

.product__pictures.active {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
}

.product__right {
    width:40vw;
}

.product__rates{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product__rates > * {
    padding-right:1rem;
}

.product__description > ul {
    padding-left: 1rem;
}

.order__msg {
    padding: 0 2vw;
}

.order__options {
    /*margin: auto;*/
    padding-left:0;
    width: 90%;
    border-collapse: collapse
}

.order__options > th, td {
    text-align: center;
}

.order__option > *{
    padding-right:1rem;
}

.order__option.active{
    border: 1px solid black;
    /*box-shadow: 0 0 4px #ccc;*/
}

.order__total{
    display: flex;
}
.order__total > p {
    width: 40%;
    text-align: right;
}

.order__btn{
    width:40%;
}

@media screen and (max-width: 800px) {
    .product__container{
        flex-direction: column;
    }

    .product__right {
        width:80vw;
    }


    .product__pictures.active{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        height: auto;
    }

    .product__picture{
        width: 30vw;
    }
}